:root {
  --base-heading-font-family: 'Verdana';
  --base-text-font-family: 'Verdana'
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  background-color: snow;
}

.title {
  text-align: center;
}
